<!-- Toolbar -->

<div>
  <mat-toolbar class="toolbar">
    <img width="250" alt="Matrix Logo" src="./../assets/matrix.png" />
    <div fxFlex fxLayoutAlign="left" fxLayout="row wrap">
      <ul fxLayout fxLayoutGap="15px">
        <a routerLink="/Facility">FOR YOUR FACILITY</a>
        <a routerLink="/Home">FOR YOUR HOME</a>
        <a routerLink="/About">ABOUT US</a>
        <a routerLink="/Contact">CONTACT US</a>
      </ul>
    </div>
  </mat-toolbar>
</div>

<div class="searchbar">
  <div class="form-group">
    <label for="search-text">Filter Products</label>
    <input type="email" class="form-control" id="search-text" aria-describedby="search-text" [(ngModel)]="searchText"
      placeholder="Enter text to search" autofocus>
  </div>
</div>

<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex.sm="100%" fxFlex.gt-md="25%" *ngFor="let product of (products | search:searchText)">
      <mat-card fxFlex.gt-md="200">
        <mat-card-content>
          <img mat-card-image [src]="product.heroImage" width="300" height="300">
        </mat-card-content>
        <mat-card-header>
          <mat-card-title class="card-title">{{product.webDisplayName}} /</mat-card-title>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
</div>