<!-- Toolbar -->

<div>
  <mat-toolbar class="toolbar">
    <img width="250" alt="Matrix Logo" src="./../assets/matrix.png" />
    <div fxFlex fxLayoutAlign="center" fxLayout="row wrap">
      <ul fxLayout fxLayoutGap="15px">
        <a routerLink="/Facility">FOR YOUR FACILITY</a>
        <a routerLink="/Home">FOR YOUR HOME</a>
        <a routerLink="/About">ABOUT US</a>
        <a routerLink="/Contact">CONTACT US</a>
      </ul>
    </div>
  </mat-toolbar>
</div>

<div class="searchbar">
  <div fxLayoutGap="10px" fxLayoutAlign="center">
    <label for="site-search">Filter</label>
    <input type="search" id="site-search" name="searchbutton">
    <button>Search</button>
  </div>
</div>

<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex.sm="100%" fxFlex.gt-md="25%" *ngFor="let image of (data | search)">
      <mat-card fxFlex.gt-md="200">
        <mat-card-content>
          <img mat-card-image [src]="image.heroImage" width="200" height="200">
        </mat-card-content>
        <mat-card-header>
          <mat-card-title class="card-title">{{image.webDisplayName}}</mat-card-title>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
</div>